/* mobile views */

@media screen and (max-width:576px) {
   /* navbar responsive style */
   
    .navbar-container ,
    nav ul,
    .navbar-right-option-container 
    {
        flex-direction: column; 
        padding: 0;
        margin: 0;
        align-items: center;}

   .navbar-right-content{width: 262px;
        margin-top: 60px;}

    }


