/* mobile views */

/* @media screen and(max-width: 992px) {
  .container {
    width: 100% !important;
  }
} */

@media screen and (max-width: 576px) {
  /* navbar responsive style */
  .container {
    width: 100%;
    margin: 0 auto;
  }

  .navbar-container,
  nav ul,
  .navbar-right-option-container,
  .banner-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
  }

  .navbar-right-content {
    align-items: center;
    width: 262px;
    margin-left: 0;
    margin-right: 0;
  }

  /* banner-section-responsive */

  .banner-container {
    align-items: center;
  }
  .banner-img {
    width: 80%;
    /* align-items: center; */
    margin: 0 auto;
  }
  .banner-img-container {
    margin: 0 auto;
    /* align-items: center;
    justify-content: center; */
  }

  .banner-container {
    width: 100%;
    margin: 0 auto;
  }

  /* online section responsive */
  .online-content-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .online-img-content-container {
    width: 80%;
  }

  .photo {
    width: 100%;
    margin: 0 auto;
  }

  .photo-description {
    color: #534c64;
    margin: 0 auto;
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
    overflow: inherit;
    overflow-wrap: break-word;
    width: 300px;
  }
}

/* @media screen and(min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
} */
/* 
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media screen and(min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media screen and(min-width: 576px) {
  .container {
    max-width: 540px;
  }
}  */
